rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /lookups/{phone} {
      allow read: if true;
      allow create: if true; // Relaxed for the honeypot prototype
      allow update: if true; // Allow updates for honeypot data injection
      allow delete: if true; // Open for dev tools wipeout
    }
  }
}
